/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.env.testing
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/_ide_helper.php
phpunit-test-results.xml
/coverage
/junit.xml
node_modules
.editorconfig
.gitignore
.gitattributes
README.md
